.view {

}

.toggle-button:selected {
    -fx-background-color: orange;
}

.toggle-button:selected:hover {
    -fx-background-color: orangered;
}

.toggle-button:hover {
    -fx-background-color: darkgreen;
}